.square {
  width: 80px;
  height: 80px;
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 34px; /* Увеличим размер шрифта */
  font-weight: bold;
  line-height: 80px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  cursor: pointer;
}

.square:focus {
  outline: none;
}

/* Стиль для крестиков */
.x-symbol {
  color: #0066cc; /* Синий цвет */
  font-weight: bold;
}

/* Стиль для ноликов */
.o-symbol {
  color: #cc0000; /* Красный цвет */
  font-weight: bold;
}
