.status {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
}

/* Стили для X и O в статусе игры */
.status .x-symbol {
  color: #0066cc; /* Синий цвет */
  font-weight: bold;
}

.status .o-symbol {
  color: #cc0000; /* Красный цвет */
  font-weight: bold;
}
